In [1]:
import pandas as pd

In [2]:
df_transactions = pd.read_csv("transactions.csv", sep = ',')
df_prices = pd.read_csv("prices.csv", sep = ',')

In [3]:
to_double_column = list(df_prices.columns.values)
to_double_column.remove('EAN')

df_prices[[*to_double_column]] = df_prices[[*to_double_column]].astype('float')
df_prices["EAN"] = df_prices["EAN"].astype('string')

In [4]:
df_transactions = df_transactions[df_transactions['AMOUNT'].notna()]
#df_transactions["EAN"] = df_transactions["EAN"].astype('string')
df_transactions["AMOUNT"] = df_transactions["AMOUNT"].astype('double').apply(lambda x: abs(x))
df_transactions["DATE"] = df_transactions["DATE"].str[:10]
df_transactions["QUANTITY"] = df_transactions["QUANTITY"].astype('int64').apply(lambda x: abs(x))

In [5]:
df_prices.head(1)

,EAN,Argentina,Australia,Austria,Bahrain,Belgium,Bulgaria,Canada,Chile,Colombia,...,Switzerland,Taiwan,Thailand,Tunisia,Turkey,Ukraine,United Arab Emirates,United Kingdom,United States,Vietnam
0,b9a19d9e6420290cf50cff8c3c2f8079,350.0,399.0,239.0,NaN,239.0,239.0,285.0,290.0,290.0,...,259.0,NaN,NaN,239.0,239.0,239.0,NaN,199.0,220.0,NaN

In [163]:
import pymongo  # package for working with MongoDB

client = pymongo.MongoClient("mongodb://root:example@localhost:27017/")

['admin', 'config', 'db_armani', 'local']

In [165]:
print(client.list_database_names())

['admin', 'config', 'db_armani', 'local']

In [167]:
print(client.db_armani.list_collection_names())

['transaction_cl']

In [128]:
db = client["db_armani"]
transaction_cl = db["transactions"]

In [129]:
db.transaction_cl.insert_many(df_transactions.to_dict('records'))